.env
.env.*
.git/
.venv/
venv/

.pytest_cache/
**/.pytest_cache/

.mypy_cache/
**/.mypy_cache/

.ruff_cache/
**/.ruff_cache/

.azure-cli/
.uv-cache-orchestrator/
.pip-audit-cache/

.build-artifacts/
.coverage
htmlcov/
build/
dist/
*.egg-info/

tests/

**/__pycache__/
*.pyc
*.pyo